body{
    background-image:url(Image/fond.png);
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
    text-align: left;
}
#container h1{
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 27px;   margin:0 auto;
    padding-bottom: 15px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #01A9DB;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid black;
}

span{
   color: red;
 
}

#formulaire{
    
    width : 40%;
    height : auto;
    margin : 0px; padding : 25px;
    opacity: 1;
    line-height: 100px;
    position: absolute;
    top: 40%;
    left: 0%;
    background-color :#ffffff;
    border-collapse: collapse;
    font-size: 2em;
    border-style:solid;
    text-align:left;
}

#formu{
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#titre{
    display: flex;
    flex-direction: column;
    position:absolute;
    left:0%;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
    color:black;
    margin-left: 30%;
}
#formul-session{
     width : 800px;
    height : auto;
    opacity: 1;
    line-height: 25px;
    position: absolute;
    top: 30%;
    left: 30%;
    background-color :#ffffff;
    border-collapse: collapse;
    font-size: 2em;
    border-style:solid;
    text-align:left;
}
#email{
    width: 340px;
    
}

#formul-devis{
     width :90%;
    height : auto;
    opacity: 1;
    line-height: 25px;
    position: absolute;
    left: 5%;
    background-color :#ffffff;
    border-collapse: collapse;
    font-size: 2em;
    border-style:solid;
    text-align:center;
}
#logo-devis{
    position: absolute;
    left: 0%;
}
#formul-reserv{
     width : 50%;
    height : auto;
    opacity: 1;
    line-height: 25px;
    position: absolute;
    top: 40%;
    right:2%;
    background-color :#ffffff;
    border-collapse: collapse;
    font-size: 2em;
    border-style:solid;
    text-align:left;
}

#titre-reservation{
        display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding: 0 300px;
    margin-top: 500px;
    font-size: 50px;
    color:black;
    margin-left:10%;
}
#titre-devis{
        display: flex;
    flex-direction: column;
    position:absolute;
    left:0%;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
    color:black;
    margin-left: 5%;
}
#button_final{
  transition-duration: 0.4s;
  background-color:white;
}

#button_final:hover {
  background-color: #01A9DB; /* Green */
  color: white;
}