*{
    box-sizing: border-box;
}
body{
    color:gray;
    font-family: arial,sans-serif;
    font-size: 16px;
    line-height: 22px;

}
ul{
    font-size:30px;
}
a{
    text-decoration: none;
    color: gray;
}
nav{
    margin: 0 auto;
    width: 1000 px;
}
header{
    border-bottom: 10px solid gray;
    background-color: #01A9DB;
    
}

header li{
    display: inline-block;
    vertical-align: top;
}
header li a{
    display: block;
    padding: 20px;
}
header li :hover a {
    background-color: #01A9DB;
    color: wheat;
}
header li:hover .menu-déroulant{
    display: block;
}

.menu-déroulant{
    display: none;
    background-color: #01A9DB;
    width: 300px;
    position:absolute;
    right:0%;
}
.menu-déroulant li {
    display: block;
}
.menu-déroulant li a{
    color:black;
}
.menu-déroulant li:hover a {
    background-color:white;
    color:black;
}
#connexion{
    position: absolute;
    right: 2%;
}

#menu-login{
    margin-top:1%;
     position:absolute;
    right:2%;
    
}

.container{

	border-collapse: collapse;
	background-color:#01A9DB; 
	min-width:10px;
	width:1000px;
	box-shadow: 0 7px 50px rgba(0,0,0,0.15);
	cursor: pointer;
	margin: 60px 1000px;
	border:1px solid min-width white;
	
}

thead tr{
	background: #01A9DB;
	color : white;
	text-align: left;

}
th, td{
	padding: 20px 10px;

	

}
tbody tr, td, th{
	border: 1px solid white;



}